body{
    background-image: url(imgs/images\ \(4\).jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    color: white;
}
h1{
    text-align: center;
    color: rgb(163, 109, 8);
    margin-top: 0px;
    text-shadow: 2px 2px black;
    text-align: center;
    font-size: 40px;
}
header h2{
    color: pink;
}
p{
    font-size: 20px;
}
header img{
    float: left;
    border-radius: 10%;
}
h2{
    color: rgb(161, 16, 16);
    text-align: center;
}
ul{
    justify-content: space-between;
    list-style-type: none;
    color: rgb(163, 109, 8);
    font-size: 15px;
}
img{
    float: right;
    border-radius: 10%;
}
a{
    color: white;
    opacity: 0.8;
}
nav a:hover{
    color: gold;
}
caption{
    background-color: black;
    color: red;
    font-size: 20px;
}
tbody{
    background-color: black;
    color: red;
    font-size: 20px;
}